@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *[id] {
    scroll-margin-top: 70px;
  }
  body {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }

  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Nunito-VariableFont_wght.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2');
  }
}

::selection {
  @apply text-white bg-blue-500;
}

#__next {
  @apply min-h-screen bg-gray-100 dark:bg-gray-900;
}

.prose .anchor {
  @apply absolute invisible ml-[-1ch] sm:ml-[-1em] w-4/5 max-w-[780px] cursor-pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply py-4 border border-gray-200 lg:py-6 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  /* @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-300 dark:border-gray-700 rounded-lg; */
  @apply rounded-md bg-pink-50 dark:bg-pink-900 dark:bg-opacity-10 px-1.5 py-1 border border-pink-200 dark:border-pink-900 mx-1 -my-1 before:hidden after:hidden;
}

.prose pre code {
  @apply m-0 text-gray-800 dark:text-gray-200 dark:bg-transparent;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

/* Override removing top margin, causing layout shift */
/* .prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
} */

/* START PRISM THEME */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

/* END PRISM THEME */

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* @apply whitespace-normal; */
}

.rehype-code-title {
  @apply px-4 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg lg:px-6 dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply !mt-0 !rounded-t-none;
}

.highlight-line {
  @apply block px-3 -mx-4 bg-gray-100 border-l-4 border-blue-500 lg:px-5 lg:-mx-6 dark:bg-gray-800;
}

.line-number::before {
  @apply inline-block w-4 mr-4 -ml-2 text-right text-gray-400 dark:text-gray-500;
  content: attr(line);
}

.highlight-line.line-number::before {
  @apply -ml-2;
}

.code-line.inserted {
  @apply bg-red-500;
}
/* .line-number {
  @apply;
} */

/* .code-highlight {
  @apply float-left min-w-full;
} */

/* .code-highlight {
  float: left;
  min-width: 100%;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0);
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
  display: block;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246);
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
} */

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
